.nav-wrapper{
    background-color: rgb(251, 241, 231);
}

.nav-container{
    display: flex;
    justify-content: right;
}

.page-title{
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

@media (max-width: 750px) {
    .nav-wrapper {
      height: auto;
      border-right: none;
      padding: 0;
      width: 100%;
      position: fixed;
      bottom: 0;
    }

    .nav-container{
        justify-content: space-around;
    }

    .page-title{
        display: none;
    }
}